<% provide :title, t("static_pages.home.home") %>
<div id="indicator" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#indicator" data-slide-to="0" class="active"></li>
    <li data-target="#indicator" data-slide-to="1"></li>
    <li data-target="#indicator" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "banner.jpg", class: "img-fluid" %>
      <div class="carousel-caption d-none d-md-block">
        <h5><%= t ".slide_label" %></h5>
        <p><%= t ".slide_content" %></p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner.jpg", class: "img-fluid" %>
      <div class="carousel-caption d-none d-md-block">
        <h5><%= t ".slide_label" %></h5>
        <p><%= t ".slide_content" %></p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner.jpg", class: "img-fluid" %>
      <div class="carousel-caption d-none d-md-block">
        <h5><%= t ".slide_label" %></h5>
        <p><%= t ".slide_content" %></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="title"><%= t ".recent_blog" %></h1>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <%= image_tag "blog-1.jpg", class: "card-img-top" %>
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= image_tag "blog-2.jpg", class: "card-img-top" %>
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= image_tag "blog-3.jpg", class: "card-img-top" %>
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
<div id="colorlib-appointment">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-12 text-center">
        <h2 class="line-block"><%= t ".make_appointment" %></h2>
        <p class="line-block">
          <%= link_to new_appointment_path, class: "btn btn-primary btn-outline btn-cta", "data-turbolinks": false do %>
            <%= t ".book_appointment" %>
            <i class="fas fa-calendar-alt"></i>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="title"><%= t ".our_doctors" %></h1>
  <div class="card-deck">
    <div class="card">
      <%= image_tag "staff-1.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "staff-2.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "staff-3.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
