<footer id="colorlib-footer" role="contentinfo">
  <div class="overlay"></div>
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-4 colorlib-widget">
        <h3><%= t ".medicare" %></h3>
        <p><%= t ".content" %></p>
      </div>
      <div class="col-md-4 col-md-push-1 colorlib-widget">
        <h3><%= t ".navigation" %></h3>
        <ul class="colorlib-footer-links">
          <li>
            <%= link_to doctors_path do %>
              <i class="fas fa-check"></i>
              <%= t ".doctors" %>
            <% end %>
          </li>
          <li>
            <%= link_to services_path do %>
              <i class="fas fa-check"></i>
              <%= t ".services" %>
            <% end %>
          </li>
          <li>
            <%= link_to departments_path do %>
              <i class="fas fa-check"></i>
              <%= t ".departments" %>
            <% end %>
          </li>
          <li>
            <%= link_to contact_path do %>
              <i class="fas fa-check"></i>
              <%= t ".contact" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-4 colorlib-widget">
        <h3><%= t ".our_services" %></h3>
        <ul class="colorlib-footer-links">
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t ".heart_surgery" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t ".surgical_treatment" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t ".general_treatment" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t ".medical_treatment" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t ".help_desk" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-md-12 text-center">
      <p>
        <small class="block">
        <%= t ".copyright" %> &copy; <%= t ".copyright2" %>
        </small>
      </p>
    </div>
  </div>
</footer>
