<footer id="colorlib-footer" role="contentinfo">
  <div class="overlay"></div>
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-4 colorlib-widget">
        <h3><%= t "views.static_pages.home.medicare" %></h3>
        <p><%= t "views.static_pages.home.content" %></p>
      </div>
      <div class="col-md-4 col-md-push-1 colorlib-widget">
        <h3><%= t "views.static_pages.home.navigation" %></h3>
        <ul class="colorlib-footer-links">
          <li>
            <%= link_to doctors_path do %>
              <i class="fas fa-check"></i>
              <%= t "views.static_pages.home.doctors" %>
            <% end %>
          </li>
          <li>
            <%= link_to services_path do %>
              <i class="fas fa-check"></i>
              <%= t "views.static_pages.home.services" %>
            <% end %>
          </li>
          <li>
            <%= link_to departments_path do %>
              <i class="fas fa-check"></i>
              <%= t "views.static_pages.home.departments" %>
            <% end %>
          </li>
          <li>
            <%= link_to contact_path do %>
              <i class="fas fa-check"></i>
              <%= t "views.static_pages.home.contact" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-4 colorlib-widget">
        <h3><%= t "views.static_pages.home.our_services" %></h3>
        <ul class="colorlib-footer-links">
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t "views.static_pages.home.heart_surgery" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t "views.static_pages.home.surgical_treatment" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t "views.static_pages.home.general_treatment" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t "views.static_pages.home.medical_treatment" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fas fa-check"></i>
              <%= t "views.static_pages.home.help_desk" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-md-12 text-center">
      <p>
        <small class="block">
        <%= t "views.static_pages.home.copyright" %> &copy; <%= t "views.static_pages.home.copyright2" %>
        </small>
      </p>
    </div>
  </div>
</footer>
